http:
  middlewares:
    fail2ban:
      plugin:
        fail2ban:
          allowlist:
            ip: ::1,127.0.0.1
          denylist:
            ip: 192.168.0.0/24
          rules:
            bantime: 3h
            enabled: "true"
            findtime: 10m
            maxretry: "4"
            statuscode: 400,401,403-499
  routers:
    # HTTPS routers for all domains
    backend:
      rule: "Host(`n8n.vps.kubespaces.cloud`) || Host(`echo.vps.kubespaces.cloud`) || Host(`webhook.vps.kubespaces.cloud`) || Host(`helix.vps.kubespaces.cloud`) || Host(`rancher.vps.kubespaces.cloud`)"
      entryPoints:
        - websecure
      service: backend-service
      tls:
        certResolver: letsencrypt

  services:
    # Backend service pointing to localhost:30963 on the host
    backend-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:30963"
